.content {
  padding: 2.6em 0;
}

.header {
  font-size: inherit;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1em 0;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-container {
  grid-column: 1 / 3;
  position: relative;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.link {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
}

.link.prev {
  grid-column: 1;
}

.link.next {
  grid-column: 2;
  transform: scaleX(-1);
}

.arrow {
  width: 1.3em;
}

@media (min-width: 992px) {
  .content {
    padding: 1em 0;
  }

  .header {
    margin: 0 0 1.5em 0;
  }

  .work {
    grid-template-columns: 6.5em 1fr 6.5em;
    margin: 0 -2.7em;
  }

  .link {
    height: 100%;
  }

  .link.prev {
    order: 1;
    grid-column: 1;
  }

  .video-container {
    order: 2;
    grid-column: 2;
  }

  .link.next {
    order: 3;
    grid-column: 3;
  }
}
