@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Light.woff2") format("woff2"),
         url("../assets/fonts/VictorMono/VictorMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Regular.woff2") format("woff2"),
         url("../assets/fonts/VictorMono/VictorMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Victor Mono";
    src: url("../assets/fonts/VictorMono/VictorMono-Bold.woff2") format("woff2"),
         url("../assets/fonts/VictorMono/VictorMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
