.footer {
  align-self: stretch;

  display: flex;
  justify-content: center;
}

.footer.highlighted {
  animation: highlight 1s ease forwards 0.2s;
}

@keyframes highlight {
  0% {
    background: black;
  }

  50% {
    background: #777777;
  }

  100% {
    background: black;
  }
}

.footer-content {
  width: 100%;
  padding: 3em 1.4em 2em;

  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 1.7em;
}

.item-header {
  margin-bottom: 0.3em;
}

.item-links {

}

.item-link {

}

.item-link:not(:last-child) {
  margin-right: 1.2em;
}

.spacer {
  flex: 1;
}

@media (min-width: 1400px) {
  .footer {
    font-size: 18px;
  }

  .footer-content {
    width: 1400px;
    padding: 2.5em 0;

    flex-direction: row;
  }

  .item {
    margin: 0;
  }

  .item:not(:last-child) {
    margin-right: 2.6em;
  }
}
