.header {
  padding-top: 0.7em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;
}

.navigation {
  display: flex;

  margin-bottom: 2.2em;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid;
  margin-bottom: 1px;
  cursor: pointer;
}

.link:not(:last-child) {
  margin-right: 1.5em;
}

.link.active {
  border-bottom: 2px solid;
  margin-bottom: 0;
}

.spacer {
  flex: 1;
}

.logo-wrapper {
  display: block;
  width: 100%;
}

.logo-wrapper svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 1450px) {
  .header {
    padding: 2.3em 0;

    flex-direction: row-reverse;
    align-items: center;

    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
  }

  .navigation {
    margin: 0;
  }

  .link {
    font-size: 1.28em;
  }

  .link:not(:last-child) {
    margin-right: 1em;
  }

  .logo-wrapper {
    width: 327px;
  }
}
