.root {
  font-family: "Victor Mono", monospace;
  font-size: 4.45vw;
  font-weight: 700;

  color: white;
  background-color: black;

  overflow-x: hidden;
}

.root a {
  color: inherit;
}

.root a:hover {
  color: #afafaf;
}

.root *::selection {
  background-color: #B8B8B8;
}

.layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1400px) {
  .root {
    font-size: 14px;
  }

  .layout {
    align-items: center;
  }
}
