.column {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin: 0 0 1em 0;
  font-size: 1.71em;
  text-transform: uppercase;
}

.awards {
  display: grid;
  grid-template-columns: 3.8em 1fr;
}

.title {
  grid-column: 2;
  margin-bottom: 1.5em;
}

.title:not(:first-child) {
  margin-top: 2em;
}

.year {
  grid-column: 1;
  letter-spacing: 0.12em;
  line-height: 1.8em;
}

.nomination {
  grid-column: 2;
  line-height: 1.8em;
}

.festival-list {
  grid-column: 2;
  margin-bottom: 0.5em;
}

.festival-list-item {
  font-weight: 300;
  line-height: 1.8em;
}

@media (min-width: 992px) {
  .column {
    margin-left: 3em;
    margin-bottom: -0.5em;
  }

  .header {
    margin-left: 2.1em;
  }

  .awards {
    display: grid;
    grid-template-columns: 3.6em 13em 1fr;
  }

  .title {
    grid-column: 2 / 4;
  }

  .year {
    font-weight: 400;
  }

  .nomination {
    font-weight: 300;
  }

  .festival-list {
    grid-column: 3;
  }
}
